@import "tailwindcss";

@theme {
  --color-primary: rgb(49 120 196);
  --color-accent-blue: rgb(49 120 198);
  --color-background-dark: rgb(18 18 18);
  --color-surface-dark: rgb(30 30 30);
  --color-text-dim: rgb(161 161 170);
  --radius: 0.375rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
}

body {
  scroll-behavior: smooth;
}

/* hide scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* marquee */
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.marquee {
  display: flex;
  width: max-content;
  animation: marquee 20s linear infinite;
}

@media (max-width: 640px) {
  .marquee {
    animation-duration: 28s;
  }
}

/* swiss grid */
.swiss-grid {
  background-size: 40px 40px;
  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.03) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.03) 1px, transparent 1px);
}

.tailwind-debug {
  background: red;
}
